.title {
    font-family: 'Assistant', sans-serif;
    direction: rtl;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Under 350px */
@media screen and (max-width: 349px) {
    .title {
        font-size: 1.5rem;
    }
}

/* 350px - 450px */
@media screen and (min-width: 350px) and (max-width: 450px) {
    .title {
        font-size: 1.7rem;
    }
}

/* 450px - 550px */
@media screen and (min-width: 451px) and (max-width: 550px) {
    .title {
        font-size: 1.9rem;
    }
}

/* 550px - 650px */
@media screen and (min-width: 551px) and (max-width: 650px) {
    .title {
        font-size: 2rem;
    }
}

/* 650px - 750px */
@media screen and (min-width: 651px) and (max-width: 750px) {
    .title {
        font-size: 2.1rem;
    }
}

/* 750px - 850px */
@media screen and (min-width: 751px) and (max-width: 850px) {
    .title {
        font-size: 2.2rem;
    }
}

/* 850px - 950px */
@media screen and (min-width: 851px) and (max-width: 950px) {
    .title {
        font-size: 2.3rem;
    }
}

/* 950px - 1050px */
@media screen and (min-width: 951px) and (max-width: 1050px) {
    .title {
        font-size: 2.4rem;
    }
}

/* 1050px - 1150px */
@media screen and (min-width: 1051px) and (max-width: 1150px) {
    .title {
        font-size: 2.5rem;
    }
}

/* 1150px - 1250px */
@media screen and (min-width: 1151px) and (max-width: 1250px) {
    .title {
        font-size: 2.5rem;
    }
}