/* Default styles */
.description {
    font-family: 'AssistantR';
    font-size: 1.4rem;
    direction: rtl;
    margin: 2% auto;
    text-align: center;
    width: 90%; /* Added width control */
}

.title {
    font-family: 'Assistant', sans-serif;
    font-size: 2.5rem;
    direction: rtl;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Under 350px */
@media screen and (max-width: 349px) {
    .description {
        font-size: 1rem;
        width: 85%;
    }
    .title {
        font-size: 1.8rem;
    }
}

/* 350-450px */
@media screen and (min-width: 350px) and (max-width: 450px) {
    .description {
        font-size: 1.1rem;
        width: 85%;
    }
    .title {
        font-size: 2rem;
    }
}

/* 450-550px */
@media screen and (min-width: 451px) and (max-width: 550px) {
    .description {
        font-size: 1.2rem;
        width: 85%;
    }
    .title {
        font-size: 2.1rem;
    }
}

/* 550-650px */
@media screen and (min-width: 551px) and (max-width: 650px) {
    .description {
        font-size: 1.25rem;
        width: 80%;
    }
    .title {
        font-size: 2.2rem;
    }
}

/* 650-750px */
@media screen and (min-width: 651px) and (max-width: 750px) {
    .description {
        font-size: 1.3rem;
        width: 80%;
    }
    .title {
        font-size: 2.3rem;
    }
}

/* 750-850px */
@media screen and (min-width: 751px) and (max-width: 850px) {
    .description {
        font-size: 1.35rem;
        width: 75%;
    }
    .title {
        font-size: 2.4rem;
    }
}

/* 850-950px */
@media screen and (min-width: 851px) and (max-width: 950px) {
    .description {
        font-size: 1.4rem;
        width: 75%;
    }
    .title {
        font-size: 2.5rem;
    }
}

/* 950-1050px */
@media screen and (min-width: 951px) and (max-width: 1050px) {
    .description {
        font-size: 1.45rem;
        width: 70%;
    }
    .title {
        font-size: 2.6rem;
    }
}

/* 1050-1150px */
@media screen and (min-width: 1051px) and (max-width: 1150px) {
    .description {
        font-size: 1.5rem;
        width: 70%;
    }
    .title {
        font-size: 2.7rem;
    }
}

/* 1150-1250px */
@media screen and (min-width: 1151px) and (max-width: 1250px) {
    .description {
        font-size: 1.55rem;
        width: 65%;
    }
    .title {
        font-size: 2.8rem;
    }
}